[Desktop Entry]
Type=Application
Name=Jedi Knight: Jedi Academy (Multiplayer)
Icon=${SNAP}/meta/gui/OpenJK_Icon_256.png
Exec=openjk %U
Comment=Open Source port of the Jedi Academy (Multiplayer)
Categories=Game;
